<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942451836199-st61r45npafiv4c0hjngqp2b5aqe2rs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942451836199-st61r45npafiv4c0hjngqp2b5aqe2rs3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942451836199-erkmhbhcoeecbc10ohou0i1m60lh7erj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDB7H_M6X8cD7s2PH5GDR3Wc57jSlhHrNA</string>
	<key>GCM_SENDER_ID</key>
	<string>942451836199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopsasta.app</string>
	<key>PROJECT_ID</key>
	<string>shopsasta-25897</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsasta-25897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942451836199:ios:0d8d363e57af16e5739502</string>
</dict>
</plist>